#footer{
    background-color: #2bb673;
    height: 300px;
    margin-top: 0px;
    color: white;
}
#footer h5,h6:hover{
    padding: 5px;
    cursor: pointer;
}
#footer > div:nth-child(1){
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    gap: 30px;
    margin: auto;
    height: 200px;
}
#footer > div:nth-child(2){
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}